@media only screen and (min-width: 1220px) {
    #mygrid {
        display: -ms-grid;
        -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
        -ms-grid-rows: 100px 1fr;
        margin: 5px;
    }
    #myheader {
        grid-row: 1;
        grid-column: 1;
        -ms-grid-column-span: 5;
        background-color: yellow;
    }
    #block1 {
        grid-row: 2;
        grid-column: 1;
    }
    #block2 {
        grid-row: 2;
        grid-column: 3;
        background-color: white;
    }
    #block3 {
        grid-row: 2;
        grid-column: 5;
    }
}